.calendar-container{
  background-color: skyblue;
  color: black;
  border-radius: 15% 15% 15% 15%;
  border: 2px solid black;
  width: 20%;
  margin: 5%;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  padding-bottom: 1%;

}

.calendar{
  background-color: lightgray;
  border-radius: 10%;
  border: 2px solid black
}
